*body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}
.red{
    color: #f50404;
}
#checked{
    display: none;
}
#check{
    float: right !important; 
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
a:hover{
    color: #1cdbdb;
    text-decoration: none;
}
/*Heading*/
#header{
    display: inline-flex;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #b4b2b2;
    border-collapse: collapse;
    box-shadow: 0 0 5px 2px #b4b2b2;
    position: sticky;
    top: 0;
    background-color: #3f3e3e;
    color: white;
    z-index: 9999;
}
#header .nav-logo{
    width: 18%;
}
#header .nav-bar{
    width: 82%;
    display: inline-flex;
    position: relative;
}
#header .nav-logo h1{
    line-height: 80px;
    text-align: center;
    text-shadow: 4px 1px 2px #b4b2b2;
    color:#dd0707;
    font-size: 50px;
}
#header .nav-header {
    width: 72%;
    margin-top: 15px;        
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 60px;
}
#header .nav-header a i{
    line-height: 25px;
    font-size: 20px;
}
#header .nav-header li{
    position: relative;
}
#header .nav-header a:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    transition: all 0.4s ease-out;
    background-color: #1cdbdb;
    bottom: -5px;
    opacity: 0;
}
#header .nav-header li:hover >a:before{
    opacity: 1;
    bottom: 0;
}


#header .nav-header a .fas{
    border-right: 1px solid #777676;
    padding: 0 5px;
}
#header .nav-header a .last{
    border-right: 0 !important;
}
#header .nav-search{
    width: 5%;
    border: 1px solid #b4b2b2;
    text-align: center;
    line-height: 80px;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

#header .nav-shopping{
    width: 10%;
    text-align: center;
    line-height: 80px;
}

#header .nav-user{
    width: 15%;
    text-align: center;
    line-height: 80px;
    border-left: 1px solid #b4b2b2;
}


/*slide*/
#slide{
    width: 100%;
    background-color: #f5f2f2;
}
#slide img{
    max-width: 1200px;
    height: 300px;
    background-size: cover;
    margin: auto;
}

/*information*/
#information{
    display: inline-flex;
    margin: 20px 0;
    width: 100%;
}
#information .infor{
    display: flex;
    width: 25%;
    float: left;
}
#information .infor:nth-child(1){
    margin-left: 80px;
}
#information .infor:last-child{
    margin-right: 0 !important;
}
#information .infor > div:first-child{
    width: 10%;
}
#information .infor > div:first-child i{
    float: right;
    margin-right: 8px;
    font-size: 2.3rem;
    padding-top: 15px;
}
#information .infor > div:last-child p{
    line-height: 30px !important;
    margin: 0 !important;
}
#information .infor > div:last-child p:first-child{
    color: #0a0a0a !important;
    font-weight: 500;
}
#information .infor > div:last-child p:last-child{
    color: #696868 !important;
}



/*Khuyến mãi*/
#khuyen_mai,
#top_product,
#new_product,
#information_sale{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
#khuyen_mai h2,
#top_product h2,
#new_product h2,
#information_sale h2{
    text-transform: uppercase;
}
#khuyen_mai > span,
#top_product > span,
#new_product > span,
#information_sale > span{
    display: flex;
    position: relative;
    justify-content: center;
}
#top_product > span,
#new_product > span,
#information_sale > span{
    margin-bottom: 20px;
}
#khuyen_mai > span:after,
#top_product > span:after,
#new_product > span:after,
#information_sale > span:after{
    content: '';
    width: 100px;
    height: 2px;
    background-color: #696868;
    position: absolute;
    top: 10px;
    /* z-index: 999; */
    /* display: flex; */
}

#khuyen_mai .date{
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}
#khuyen_mai .date p{
    display: inline-block;
    border: 1px solid #b4b2b2;
    justify-content: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #dd0707;
    color: #fff;
    font-weight: 700;
    padding-top: 10px;
    line-height: 16px;
    font-size: 18px;
}
#khuyen_mai .date p > span{
    font-weight: 0 !important;
    font-size: 10px;
}

#khuyen_mai .product,
#top_product .product,
#new_product .product{
    margin-top: 40px;
    display: inline-flex;
    margin: 30px 30px 5px 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#khuyen_mai .product div,
#top_product .product div,
#new_product .product div{
    width: 18.5%;
    border: 1px solid #b4b2b2;
    /* margin-right: 20px; */
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #b4b2b2;
    position: relative;
    margin-bottom: 20px;
}
#khuyen_mai .product div:nth-child(5),
#top_product .product div:nth-child(5),
#new_product .product div:nth-child(5),
#new_product .product div:nth-child(10),
#new_product .product div:nth-child(15){
    margin-right: 0 !important;
}
#khuyen_mai .product div >img,
#top_product .product div >img,
#new_product .product div >img{
    width: 100%;
    padding: 20px 20px 10px 20px;
    height: 200px;
    margin-right: 20px;    
}
#khuyen_mai .product div img:hover,
#top_product .product div img:hover,
#new_product .product div img:hover{
    transform: scale(1.15);
    transition: all 0.4s ease-in;
}
#khuyen_mai .product div > p,
#top_product .product div > p,
#new_product .product div > p{
    margin: 0 !important;
    overflow: hidden;
    height: 24px;
}
#khuyen_mai .product div > span,
#top_product .product div > span,
#new_product .product div > span{
    font-weight: bolder;
}
#khuyen_mai .product div > button,
#top_product .product div > button,
#new_product .product div > button{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #08b0ce;
}
#khuyen_mai .product div > button:hover,
#top_product .product div > button:hover,
#new_product .product div > button:hover{
    background: rgba(48, 221, 91, 0.6);
}
#khuyen_mai .product div > button i,
#top_product .product div > button i,
#new_product .product div > button i{
    color: orange;
}
#khuyen_mai .product div > .giam_gia,
#top_product .product div > .giam_gia,
#new_product .product div > .giam_gia{
    font-weight: 0 !important;
    text-decoration: line-through;
    font-size: 13px;
    color: #777676;
}
#khuyen_mai .xem_all button,
#top_product .xem_all button,
#new_product .xem_all button{
    background-color: #dd0707;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
#khuyen_mai .product div > .giam_gia_25:before,
#top_product .product div > .giam_gia_25:before,
#new_product .product div > .giam_gia_25:before{
    content: '-25%';
    position: absolute;
    background: #090909;
    z-index: 999;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    top: 20px;
    left: 0;
}
#khuyen_mai .product div > .giam_gia_10:before,
#top_product .product div > .giam_gia_10:before,
#new_product .product div > .giam_gia_10:before{
    content: '-10%';
    position: absolute;
    background: #090909;
    z-index: 999;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    top: 20px;
    left: 0;
}
#khuyen_mai .product div > .giam_gia_33:before,
#top_product .product div > .giam_gia_33:before,
#new_product .product div > .giam_gia_33:before{
    content: '-33%';
    position: absolute;
    background: #090909;
    z-index: 999;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    top: 20px;
    left: 0;
}
#khuyen_mai .product div > .giam_gia_15:before,
#top_product .product div > .giam_gia_15:before,
#new_product .product div > .giam_gia_15:before{
    content: '-15%';
    position: absolute;
    background: #090909;
    z-index: 999;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    top: 20px;
    left: 0;
}
#khuyen_mai .product div > .giam_gia_16:before,
#top_product .product div > .giam_gia_16:before,
#new_product .product div > .giam_gia_16:before{
    content: '-16%';
    position: absolute;
    background: #090909;
    z-index: 999;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    top: 20px;
    left: 0;
}


/*thông tin khuyến mãi*/
#information_sale .infor_sale{
    display: inline-flex;
    width: 90%;
    margin: 30px auto;
    text-align: left;
}
#information_sale .infor_sale > div{
    flex: 1;
    margin-right: 20px;
}
#information_sale .infor_sale > div:last-child{
    margin-right: 0 !important;
}
#information_sale .infor_sale img{
    width: 100%;
    height: 250px;
}
#information_sale .infor_sale h5{
    margin-top: 10px;
}
#information_sale .infor_sale span{
    font-size: 12px;
    margin-left: 5px;
}
#information_sale .infor_sale div div{
    height: 55px;
}
#information_sale .infor_sale p{
    color: #777676;
}
#information_sale .infor_sale button{
    color: #fff;
    background: #f50404;
    border: 0 !important;
    border-radius: 10px;
    padding: 5px 10px;
}
#information_sale .infor_sale button:hover{
    border-radius: 10px;
    background-color: #08b0ce;
}

/*thanh toán*/
#bank{
    margin-top: 30px;
    width: 100%;
}
#bank h2{
    text-align: center;
    text-transform: uppercase;
}
#bank .bank_img{
    display: inline-flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 50px;
}
#bank .bank_img div{
    flex: 1;
    justify-content: space-around;
}
#bank .bank_img img{
    width: 100%;
    height: auto;
}
#bank .bank_img div:last-child{
    margin-right: 0 !important;
}


/*footer*/
#footer{
    width: 100%;
    padding: 40px;
    background: #4d4c4c;
    margin-top: 30px;
    display: inline-flex;
    color: #fff;
}
#footer > div{
    width: 25%;
    margin-right: 10px;
}
#footer > div:last-child{
    margin-right: 0 !important;
}
#footer div h4{
    margin-bottom: 30px;
    text-transform: uppercase;
}
#footer .list_menu ul{
    list-style: none;
    padding: 0 !important;
}
#footer .list_menu ul li{
    line-height: 35px;
}
#footer .list_menu ul a:hover{
    color: #dd0707 !important;
}
#footer .connect a{
    display: inline-flex;
    float: left;
    clear: left;
    line-height: 50px;
}
#footer .connect i{
    display: flex;
    margin-right: 8px;
    font-size: 30px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}
#footer .connect a:hover{
    color: #090909 !important;
}
#footer .connect a:hover >i{
    background: #fff !important;
}
#footer .connect .fb:hover{
    color: #0836ce !important;
}
#footer .connect .tw:hover{
    color: #08b0ce !important;
}
#footer .connect .ins:hover{
    color: #df2932 !important;
}
#footer .connect .sky:hover{
    color: #2ec6e0 !important;
}

#footer_ban_quyen{
    width: 100%;
    background-color: #292828;
    height: 40px;
    color: #fff;
    line-height: 40px;
}
#footer_ban_quyen p{
    margin-bottom: 0 !important;
    text-align: center;
}


